<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/clientLayout :: layout (~{::body},'cart')}">
<head>
    <meta charset="UTF-8">
    <title>Zaloguj</title>
</head>
<body>

<!--/*@thymesVar id="personDto" type="mb.booksy.web.model.PersonDto"*/-->
<div class="form group row">
    <div class="form-group col-md-6">
        <h1>Zaloguj się do banku</h1>
        <br>
        <form th:object="${personDto}" th:action="@{/bank}" method="post" class="form-horizontal">
            <div class="form-group row" style="margin-top: 10px">
                <label for="login" class="col-sm-2 col-form-label" style="margin-left: 0px">Login</label>
                <div class="form-group col-md-7">
                    <input size="100" type="text" class="form-control" id="login" name="login" th:field="*{login}">
                </div>
            </div>
            <div class="form-group row" style="margin-top: 10px">
                <label for="password" class="col-sm-2 col-form-label" style="margin-left: 0px">Hasło</label>
                <div class="form-group col-md-7">
                    <input size="100" type="password" class="form-control" id="password" name="password" th:field="*{password}">
                </div>
            </div>
            <div class="row">
                <br>
                <button class="btn btn-primary" style="width: 90px;margin-top:0px;margin-left: 200px; background-color: #4682B4;color:white" type="submit">Zaloguj</button>
            </div>
        </form>


    </div>

    <div class="form-group col-md-2" style="margin-left:250px">
        <h1>Podsumowanie</h1>
        <br>
        <p th:text="${desc}" class="ridge" style="padding-left: 30px; padding-top: 30px; font-size: 18px; font-family: Arial"></p>
    </div>
</div>