<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/mainLayout :: layout (~{::body},'cart')}">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
<h2>Koszyk</h2>
<!--/*@thymesVar id="itemDto" type="mb.booksy.web.model.ItemDto"*/-->
<table id="find_shortest_terms" class="table table-striped" style="margin-top: 20px; width: 740px">
    <thead>
    <tr>
        <th style="width: 50px;vertical-align: middle;text-align: left">Twoje Produkty</th>
        <th style="width: 120px"></th>
        <th style="width: 40px;vertical-align: middle"></th>
        <th style="width: 40px;margin-left: 10px;vertical-align: middle"></th>
        <th style="width: 40px;"></th>
        <th style="width: 40px;"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="itemDto : ${selections}">
        <td><img th:src="|data:image/jpg;base64,${itemDto.itemImage}|" id="img" width="120" height="140" style="margin: 10px 0px 10px 10px"/></td>
        <td th:text="${itemDto.itemName}" style="text-align: left;vertical-align: middle"/>
        <td th:text="'Cena ' + ${itemDto.cartPrice}" style="text-align: left;vertical-align: middle"/>
        <td th:text="${itemDto.cartAmount}  + ' szt.'" style="text-align: left;vertical-align: middle"/>
        <td style="vertical-align: middle;text-align: center"><a><i class="fa fa-check"></i><span class="glyphicon glyphicon-edit"></span></a></td>
        <td style="vertical-align: middle;text-align: center"><a><i class="fa fa-check"></i><span class="glyphicon glyphicon-trash"></span></a></td>
    </tr>
    </tbody>
</table>

</form>
</body>
</html>