<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/mainLayout :: layout (~{::body},'cart')}">
<head>
    <meta charset="UTF-8">
    <title>PayPauU</title>
</head>
<body>

<!--/*@thymesVar id="paymentDto" type="mb.booksy.web.model.PaymentDto"*/-->
<div class="form group row">
    <div class="form-group col-md-10">
        <h1>Transakcja nr</h1>
        <br>
        <form th:object="${paymentDto}" th:action="@{/data/(cartId=${cart_id})}" method="post" class="form-horizontal">
            <div class="form-group row" style="margin-top: 10px">
                <label for="odbiorca" class="col-sm-3 col-form-label" style="margin-left: 0px">Odbiorca</label>
                <div class="form-group col-md-5">
                    <input size="100" type="text" readonly class="form-control" id="odbiorca" name="odbiorca" th:field="*{odbiorca}">
                </div>
            </div>
            <div class="form-group row" style="margin-top: 10px">
                <label for="rachOdbiorca" class="col-sm-3 col-form-label" style="margin-left: 0px">Na rachunek</label>
                <div class="form-group col-md-5">
                    <input size="100" type="text" readonly class="form-control" id="rachOdbiorca" name="rachOdbiorca" th:field="*{rachOdbiorca}">
                </div>
            </div>
            <div class="form-group row" style="margin-top: 10px">
                <label for="rachNadawca" class="col-sm-3 col-form-label" style="margin-left: 0px">Z rachunku</label>
                <div class="form-group col-md-5">
                    <input size="100" type="text" readonly class="form-control" id="rachNadawca" name="password" th:field="*{rachNadawca}">
                </div>
            </div>
            <div class="form-group row" style="margin-top: 10px">
                <label for="kwota" class="col-sm-3 col-form-label" style="margin-left: 0px">Kwota</label>
                <div class="form-group col-md-5">
                    <input size="100" type="text" readonly class="form-control" id="kwota" name="kwota" th:field="*{kwota}">
                </div>
            </div>
            <div class="control-group">
                <div class="col-sm-2">
                    <input size="4" type="text" class="form-control" id="kod" name="kod" th:field="*{kod}" placeholder="Kod SMS" style="width:100px; margin-left:220px" >
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-primary" style="width: 90px;margin-top:0px;margin-left: 200px; background-color: #4682B4;color:white" type="submit">Zapłać</button>
                </div>
            </div>
        </form>


    </div>
</div>
<html>