<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/clientLayout :: layout (~{::body},'cart')}">
<head>
    <meta charset="UTF-8">
    <title>Inpost</title>
</head>
<body>
<!--/*@thymesVar id="inpostBoxDto" type="mb.booksy.web.model.InpostBoxDto"*/-->
<div class="form group row">
    <div class="form-group col-md-6">
        <h1>Wybierz paczkomat Inpost</h1>
        <br>
        <form th:object="${inpostBoxDto}" th:action="@{/inpost}" method="post" class="form-horizontal">
            <div class="form-group blu-margin">
                <select class="form-control" th:field="*{id}"  id="Punkt Odbioru Inpost" style="margin-left: 20px">
                    <option value="0">Punkt Odbioru Inpost</option>
                    <option th:each="inpostBox : ${boxes}" th:value="${inpostBox.id}" th:text="${inpostBox.boxAddress}"></option>
                </select>
            </div>
            <div class="row">
                <br>
                <button class="btn btn-primary" style="width: 90px;margin-top:10px;margin-left: 250px; background-color: #4682B4;color:white" type="submit">Zapisz</button>
            </div>
        </form>

    </div>

    <div class="form-group col-md-2" style="margin-left:250px">
        <h1>Podsumowanie</h1>
        <br>
        <p th:text="${desc}" class="ridge" style="padding-left: 30px; padding-top: 30px; font-size: 18px; font-family: Arial"></p>
    </div>
</div>



</body>
</html>